body {
    background-color: var(--background-color);
    font-family: 'Fira Code', monospace, 'Kumbh Sans', sans-serif, 'Manrope', sans-serif, 'Outfit', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 500px;
    background-color: var(--advice-card-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.advice {
    color: var(--advice-dice-color);
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
}

.message {
    color: var(--text-color);
    padding: 0 20px;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.linha-de-divisao {
    width: 100%;
    margin: 20px 0;
}

.dado {
    background-color: var(--advice-dice-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    position: relative;
    top: 40px;
}

.dado img {
    width: 24px;
    height: 24px;
}

.dado:hover {
    background-color:  hsl(150, 63%, 80%);
}
